
#     Node.js     #
###################
node_modules
package-lock.json
yarn.lock


#       OS        #
###################
.idea
.DS_Store
Thumbs.db
*.log


#    Coverage     #
###################
coverage
